<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="my-plugin-id"
    version="1.0.2">
    
<platform name="android">
<framework src="src/com/ikovac/timepickerwithseconds/build.gradle" custom="true" type="gradleReference" />
</platform>
</plugin>
